MINIO_ENDPOINT=changeit
MINIO_ACCESS_KEY=changeit
MINIO_SECRET_KEY=changeit
MINIO_SECURE=true/false
HF_TOKEN=changeit
MLFLOW_TRACKING_URI=changeit
MLFLOW_EXPERIMENT_NAME=changeit
MLFLOW_TRACKING_INSECURE_TLS=changeit
TAILSCALE_AUTHKEY=changeit
MISTRAL_LARGE_3_675B_API_KEY=changeit
LLAMA_GUARD_4_12B_API_KEY=changeit
NEMETRON_3_CONTENT_SAFETY_API_KEY=changeit
BYTEDANCE_SEED_OSS_36B_INSTRUCT_API_KEY=changeit